
<div class="row mt-5">
    <div class="col-3 mt-3">
        <input type="text" [(ngModel)]="newsweet.Name" class="form-control"  placeholder="name">
    </div>
    <div class="col-3 mt-3">
        <input type="text"   [(ngModel)]="newsweet.Categ"  class="form-control"  placeholder="Categorie">
    </div>
    <div class="col-3 mt-3">
    <input type="text"   [(ngModel)]="newsweet.Recette"  class="form-control"  placeholder="Recette">
</div>
    <div class="col-3 mt-3">
        <input type="text"   [(ngModel)]="newsweet.Image"  class="form-control"  placeholder="image">
    </div>
    <div class="col-3 mt-3">
        <input type="button" (click)="Modifiersweet()" class="btn btn-sm btn-outline-success text-success"  value="Modifier">
    </div>

</div>