<div class="container">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <h4 class="fst-italic text-success text-decoration-underline">About</h4>
        <p class="mb-0">Welcome to my food blog! I'm IKRAM, a passionate food enthusiast and a wordsmith dedicated to exploring the culinary world and sharing my experiences with you. As a writer, I find joy in the delicious details, the tantalizing tastes, and the stories that food can tell.
          <br><br>  My journey with cooking began at an early age, watching my grandmother create magic in the kitchen. Over the years, I've been fortunate to travel and taste diverse cuisines, which has expanded my palate and inspired me to recreate those flavors in my own kitchen
          <br><br>  "At Delicious Descovorier, our mission is to make cooking approachable and enjoyable for everyone. We believe that cooking should be a joyful experience that nourishes both body and soul. Through our recipes and stories, we aim to inspire you to embrace the joys of homemade meals."</p>
        
    </div>
    
    </div>
