
<div class="row">
    <div *ngFor="let recette of recettes" class="card mt-5" style="width:18rem;margin-left:10px;">
        <img width="200px" height="250px" [src]="recette.Img" class="card-img-top" alt="recette">
        <div class="card-body">
          <h5 class="card-title">{{recette.Name}}</h5>
          <p class="card-text">{{recette.Recette}}</p>
         
        </div>
        <div class="btns">
          <button (click)="Deleterecette(recette._id)" class="btn btn-sm btn-outline-success text-success">Delete</button>
           <button [routerLink]="['/update' , recette._id]" class="btn btn-sm btn-outline-success text-success">Update</button>
        </div>
    </div>