
<div class="row">
    <div *ngFor="let detox of detoxs" class="card mt-5" style="width:18rem;margin-left:10px;">
        <img width="200px" height="250px" [src]="detox.Img" class="card-img-top" alt="detox">
        <div class="card-body">
          <h5 class="card-title">{{detox.Name}} </h5>
          <p class="card-text">{{detox.Recette}}</p>
         
        </div>
        <div class="btns">
          <button (click)="Deletedetox(detox._id)" class="btn btn-sm btn-outline-success text-success">Delete</button>
           <button [routerLink]="['/updateD' , detox._id]" class="btn btn-sm btn-outline-success text-success">Update</button>
        </div>
    </div>