

<div class=" container ">
<div class=" nav-scroller py-1 mb-3 border-bottom">
<nav class="nav nav-underline justify-content-between">
    <a class="nav-item nav-link link-body-emphasis text-success lg-10" routerLink="/home">Home</a>
    <a class="nav-item nav-link link-body-emphasis text-success lg-10" routerLink="/about">About</a>
    <a class="nav-item nav-link link-body-emphasis text-success" routerLink="/listV">Vegan recipes</a>
    <a class="nav-item nav-link link-body-emphasis text-success" routerLink="/listS">Sweets</a>
    <a class="nav-item nav-link link-body-emphasis text-success" routerLink="/listD">Detox</a>
  <div class="col-4  mr-2 d-flex justify-content-between align-items-center ">
    <a class="nav-item nav-link link-body-emphasis text-success" routerLink="/ADD">ADD </a>
    <a class="nav-item nav-link link-body-emphasis text-success" routerLink="/user-list">USERS </a>
    <div class="col-4  d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-success text-success" routerLink="/signup">Sign up</a>
    </div>
  
     
  </div>
 
</nav>
</div>
</div>

